body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* .css-1wdsfev {
    background: url('/src/money.jpg') no-repeat;
    background-size: cover;
} */

.css-37jdci-MuiTypography-root {
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
    background: white !important;
    padding: 10px 50px !important;
    border-radius: 5px !important;
    border: 5px solid green !important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2) !important;
    transition: all 0.5s !important;
    color: #000 !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
    background: greenyellow !important;
    color: white !important;
}


/*
#root {
    display: flex;
    align-items: center;?
    justify-content: center;
    height: 100vh;
} */

html {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
  }
  
  #stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1007px 222px #FFF , 1637px 285px #FFF , 1666px 354px #FFF , 722px 293px #FFF , 300px 549px #FFF , 362px 478px #FFF , 406px 911px #FFF , 285px 1013px #FFF , 360px 1507px #FFF , 1091px 343px #FFF , 1321px 331px #FFF , 758px 1832px #FFF , 532px 779px #FFF , 733px 1520px #FFF , 64px 316px #FFF , 978px 298px #FFF , 1034px 70px #FFF , 1046px 1093px #FFF , 189px 1379px #FFF , 1157px 1961px #FFF , 1004px 237px #FFF , 553px 1678px #FFF , 469px 375px #FFF , 981px 896px #FFF , 526px 1365px #FFF , 1765px 783px #FFF , 752px 1082px #FFF , 1841px 1766px #FFF , 1424px 1365px #FFF , 704px 1393px #FFF , 11px 438px #FFF , 151px 241px #FFF , 1062px 387px #FFF , 1213px 1459px #FFF , 1930px 1696px #FFF , 261px 1309px #FFF , 1687px 1921px #FFF , 790px 1883px #FFF , 1432px 1018px #FFF , 1563px 1483px #FFF , 866px 1929px #FFF , 765px 1848px #FFF , 457px 1006px #FFF , 1721px 255px #FFF , 732px 1632px #FFF , 149px 934px #FFF , 1969px 1795px #FFF , 680px 1021px #FFF , 829px 875px #FFF , 91px 1902px #FFF , 1166px 1587px #FFF , 1787px 1307px #FFF , 859px 1124px #FFF , 463px 1533px #FFF , 649px 443px #FFF , 1586px 24px #FFF , 1695px 1447px #FFF , 176px 36px #FFF , 1829px 870px #FFF , 1411px 1085px #FFF , 1305px 21px #FFF , 1231px 1667px #FFF , 561px 709px #FFF , 1196px 1422px #FFF , 454px 90px #FFF , 606px 888px #FFF , 140px 586px #FFF , 907px 549px #FFF , 275px 517px #FFF , 1302px 244px #FFF , 1813px 569px #FFF , 658px 1917px #FFF , 1353px 1047px #FFF , 1589px 1470px #FFF , 1025px 542px #FFF , 1112px 1247px #FFF , 800px 1051px #FFF , 229px 595px #FFF , 1381px 150px #FFF , 1460px 1167px #FFF , 1709px 213px #FFF , 653px 879px #FFF , 709px 1348px #FFF , 360px 1240px #FFF , 1255px 1860px #FFF , 703px 378px #FFF , 1829px 1727px #FFF , 428px 1659px #FFF , 1747px 1296px #FFF , 1149px 242px #FFF , 1102px 554px #FFF , 411px 1980px #FFF , 77px 41px #FFF , 1911px 1050px #FFF , 1901px 1638px #FFF , 200px 260px #FFF , 1228px 1112px #FFF , 927px 311px #FFF , 1132px 1062px #FFF , 393px 1441px #FFF , 627px 1794px #FFF , 107px 1999px #FFF , 196px 1067px #FFF , 1237px 1900px #FFF , 1258px 317px #FFF , 1987px 1509px #FFF , 734px 1681px #FFF , 1562px 30px #FFF , 409px 719px #FFF , 934px 1px #FFF , 514px 497px #FFF , 1654px 1932px #FFF , 371px 451px #FFF , 1290px 1184px #FFF , 403px 1547px #FFF , 1696px 134px #FFF , 1851px 1797px #FFF , 783px 293px #FFF , 937px 47px #FFF , 1664px 124px #FFF , 1910px 313px #FFF , 22px 1511px #FFF , 531px 840px #FFF , 1289px 331px #FFF , 1579px 141px #FFF , 143px 1460px #FFF , 1438px 379px #FFF , 648px 409px #FFF , 1960px 1404px #FFF , 128px 756px #FFF , 1106px 665px #FFF , 324px 1096px #FFF , 1143px 777px #FFF , 30px 946px #FFF , 266px 387px #FFF , 108px 5px #FFF , 335px 1853px #FFF , 799px 444px #FFF , 1988px 159px #FFF , 565px 633px #FFF , 644px 1810px #FFF , 599px 1543px #FFF , 982px 989px #FFF , 969px 90px #FFF , 653px 1137px #FFF , 1509px 185px #FFF , 10px 690px #FFF , 869px 1676px #FFF , 906px 1416px #FFF , 370px 353px #FFF , 888px 1471px #FFF , 400px 1531px #FFF , 1366px 414px #FFF , 1471px 93px #FFF , 1511px 654px #FFF , 1234px 1526px #FFF , 1657px 516px #FFF , 818px 603px #FFF , 902px 1183px #FFF , 389px 557px #FFF , 1107px 536px #FFF , 1387px 845px #FFF , 1845px 394px #FFF , 381px 527px #FFF , 743px 994px #FFF , 966px 94px #FFF , 540px 178px #FFF , 399px 364px #FFF , 1594px 573px #FFF , 1894px 1565px #FFF , 741px 1536px #FFF , 1722px 1159px #FFF , 87px 1861px #FFF , 1844px 1742px #FFF , 1663px 1343px #FFF , 921px 1902px #FFF , 210px 607px #FFF , 1706px 1734px #FFF , 1463px 268px #FFF , 188px 1305px #FFF , 1925px 1683px #FFF , 888px 1829px #FFF , 615px 1663px #FFF , 1597px 917px #FFF , 1060px 815px #FFF , 1586px 1693px #FFF , 223px 120px #FFF , 455px 234px #FFF , 1177px 819px #FFF , 341px 998px #FFF , 377px 920px #FFF , 266px 883px #FFF , 1575px 1294px #FFF , 663px 20px #FFF , 1421px 1433px #FFF , 1238px 1411px #FFF , 593px 273px #FFF , 350px 777px #FFF , 208px 30px #FFF , 362px 1486px #FFF , 1307px 1719px #FFF , 1941px 301px #FFF , 154px 923px #FFF , 888px 309px #FFF , 1558px 356px #FFF , 400px 1046px #FFF , 137px 1718px #FFF , 527px 1663px #FFF , 522px 1384px #FFF , 1500px 385px #FFF , 1552px 1667px #FFF , 1271px 1172px #FFF , 1422px 321px #FFF , 882px 177px #FFF , 1979px 632px #FFF , 880px 232px #FFF , 790px 822px #FFF , 129px 452px #FFF , 627px 1958px #FFF , 1685px 196px #FFF , 797px 1540px #FFF , 1991px 423px #FFF , 576px 276px #FFF , 1017px 176px #FFF , 657px 1770px #FFF , 69px 538px #FFF , 1413px 258px #FFF , 1095px 1364px #FFF , 1926px 1449px #FFF , 1126px 310px #FFF , 1985px 365px #FFF , 28px 1392px #FFF , 1714px 616px #FFF , 558px 1594px #FFF , 1394px 1489px #FFF , 20px 83px #FFF , 590px 1876px #FFF , 1295px 405px #FFF , 194px 1628px #FFF , 688px 852px #FFF , 1419px 1563px #FFF , 1805px 569px #FFF , 56px 1196px #FFF , 199px 1122px #FFF , 1414px 1006px #FFF , 1453px 966px #FFF , 199px 1958px #FFF , 1801px 1755px #FFF , 1931px 486px #FFF , 474px 1505px #FFF , 1413px 845px #FFF , 1381px 474px #FFF , 1947px 418px #FFF , 886px 1789px #FFF , 1745px 978px #FFF , 385px 1344px #FFF , 1897px 183px #FFF , 491px 1656px #FFF , 1448px 935px #FFF , 237px 940px #FFF , 1415px 350px #FFF , 1255px 1387px #FFF , 368px 194px #FFF , 1122px 1215px #FFF , 1662px 128px #FFF , 1873px 1373px #FFF , 1914px 948px #FFF , 1048px 723px #FFF , 1526px 713px #FFF , 298px 804px #FFF , 1324px 1318px #FFF , 769px 1057px #FFF , 897px 1414px #FFF , 1870px 149px #FFF , 68px 209px #FFF , 860px 1745px #FFF , 1656px 1945px #FFF , 780px 1060px #FFF , 81px 692px #FFF , 1344px 1650px #FFF , 854px 1689px #FFF , 1477px 1364px #FFF , 1304px 1896px #FFF , 725px 252px #FFF , 141px 492px #FFF , 1053px 809px #FFF , 164px 1325px #FFF , 1509px 811px #FFF , 1893px 126px #FFF , 1149px 1972px #FFF , 1754px 1261px #FFF , 449px 951px #FFF , 786px 359px #FFF , 720px 342px #FFF , 356px 799px #FFF , 707px 935px #FFF , 403px 551px #FFF , 992px 432px #FFF , 156px 873px #FFF , 1911px 884px #FFF , 1691px 280px #FFF , 1557px 841px #FFF , 28px 770px #FFF , 393px 1828px #FFF , 674px 779px #FFF , 1820px 817px #FFF , 792px 36px #FFF , 1207px 1906px #FFF , 97px 837px #FFF , 564px 1955px #FFF , 1636px 1740px #FFF , 195px 325px #FFF , 1050px 374px #FFF , 230px 1510px #FFF , 1814px 138px #FFF , 14px 1953px #FFF , 1662px 802px #FFF , 10px 126px #FFF , 503px 766px #FFF , 1379px 950px #FFF , 627px 693px #FFF , 80px 1009px #FFF , 1897px 701px #FFF , 401px 226px #FFF , 99px 904px #FFF , 1681px 289px #FFF , 799px 343px #FFF , 58px 1764px #FFF , 1982px 1045px #FFF , 1695px 338px #FFF , 1109px 154px #FFF , 1973px 1789px #FFF , 1988px 194px #FFF , 586px 46px #FFF , 991px 366px #FFF , 1152px 799px #FFF , 1439px 1958px #FFF , 658px 256px #FFF , 950px 1488px #FFF , 1988px 60px #FFF , 1842px 1915px #FFF , 826px 1001px #FFF , 1051px 612px #FFF , 128px 1px #FFF , 1661px 250px #FFF , 1387px 1601px #FFF , 797px 249px #FFF , 432px 872px #FFF , 580px 532px #FFF , 1799px 1644px #FFF , 75px 337px #FFF , 533px 1617px #FFF , 1576px 168px #FFF , 560px 413px #FFF , 273px 747px #FFF , 1012px 69px #FFF , 343px 478px #FFF , 74px 152px #FFF , 208px 1721px #FFF , 674px 353px #FFF , 860px 1225px #FFF , 439px 1098px #FFF , 985px 1878px #FFF , 1945px 1890px #FFF , 1557px 1523px #FFF , 452px 512px #FFF , 1886px 1457px #FFF , 1767px 1946px #FFF , 1515px 1178px #FFF , 629px 257px #FFF , 1778px 1165px #FFF , 100px 1385px #FFF , 288px 1657px #FFF , 1283px 1242px #FFF , 650px 29px #FFF , 404px 1951px #FFF , 437px 1756px #FFF , 1155px 184px #FFF , 1350px 1512px #FFF , 1657px 928px #FFF , 1094px 1612px #FFF , 398px 1912px #FFF , 1728px 1331px #FFF , 200px 1783px #FFF , 1851px 349px #FFF , 263px 850px #FFF , 129px 166px #FFF , 366px 255px #FFF , 83px 305px #FFF , 1307px 1259px #FFF , 1936px 1689px #FFF , 187px 651px #FFF , 1399px 846px #FFF , 1314px 823px #FFF , 1111px 1040px #FFF , 649px 25px #FFF , 1705px 569px #FFF , 392px 600px #FFF , 1376px 795px #FFF , 1701px 388px #FFF , 348px 1609px #FFF , 1465px 358px #FFF , 1689px 1637px #FFF , 1685px 1256px #FFF , 898px 1498px #FFF , 1293px 106px #FFF , 1674px 1759px #FFF , 96px 1583px #FFF , 58px 744px #FFF , 1304px 1590px #FFF , 219px 1134px #FFF , 904px 1935px #FFF , 687px 834px #FFF , 1381px 1727px #FFF , 644px 477px #FFF , 1657px 1337px #FFF , 1352px 1960px #FFF , 82px 1055px #FFF , 1918px 1339px #FFF , 580px 625px #FFF , 653px 351px #FFF , 1127px 1680px #FFF , 1645px 1803px #FFF , 1355px 1407px #FFF , 1173px 1411px #FFF , 1577px 1053px #FFF , 1894px 1833px #FFF , 997px 1674px #FFF , 1534px 546px #FFF , 668px 1957px #FFF , 325px 1621px #FFF , 1620px 330px #FFF , 1329px 928px #FFF , 830px 1436px #FFF , 93px 374px #FFF , 428px 1097px #FFF , 630px 1059px #FFF , 1752px 164px #FFF , 970px 933px #FFF , 1179px 1987px #FFF , 456px 430px #FFF , 379px 1123px #FFF , 73px 409px #FFF , 1542px 197px #FFF , 1371px 1605px #FFF , 84px 777px #FFF , 541px 1073px #FFF , 1964px 1643px #FFF , 378px 1605px #FFF , 1500px 1036px #FFF , 75px 837px #FFF , 1332px 586px #FFF , 1504px 1047px #FFF , 1366px 1410px #FFF , 462px 1923px #FFF , 1183px 1334px #FFF , 785px 1621px #FFF , 469px 1852px #FFF , 1811px 1972px #FFF , 305px 181px #FFF , 1295px 583px #FFF , 1468px 1874px #FFF , 858px 363px #FFF , 881px 1538px #FFF , 1718px 1090px #FFF , 1318px 1046px #FFF , 1589px 1211px #FFF , 581px 1508px #FFF , 292px 283px #FFF , 591px 1150px #FFF , 1298px 949px #FFF , 157px 1348px #FFF , 875px 531px #FFF , 1806px 787px #FFF , 1467px 360px #FFF , 283px 90px #FFF , 441px 2000px #FFF , 1629px 1328px #FFF , 1398px 852px #FFF , 1495px 590px #FFF , 1417px 688px #FFF , 235px 1052px #FFF , 989px 607px #FFF , 1980px 277px #FFF , 1679px 1301px #FFF , 796px 207px #FFF , 1965px 1531px #FFF , 1086px 809px #FFF , 1364px 534px #FFF , 411px 1832px #FFF , 1270px 887px #FFF , 1582px 425px #FFF , 411px 1980px #FFF , 1866px 436px #FFF , 217px 1504px #FFF , 88px 428px #FFF , 1398px 572px #FFF , 906px 1540px #FFF , 119px 1367px #FFF , 1236px 88px #FFF , 1860px 1933px #FFF , 629px 479px #FFF , 1449px 1748px #FFF , 880px 1315px #FFF , 880px 1131px #FFF , 1995px 274px #FFF , 1836px 1009px #FFF , 1983px 1294px #FFF , 1828px 1919px #FFF , 1617px 1313px #FFF , 1613px 822px #FFF , 1661px 924px #FFF , 1581px 1001px #FFF , 1867px 1866px #FFF , 373px 1702px #FFF , 1614px 49px #FFF , 297px 1470px #FFF , 1082px 1821px #FFF , 1169px 1581px #FFF , 1380px 1890px #FFF , 1074px 1011px #FFF , 673px 145px #FFF , 1412px 1006px #FFF , 1535px 1544px #FFF , 1014px 1099px #FFF , 141px 186px #FFF , 1052px 77px #FFF , 266px 1113px #FFF , 217px 1066px #FFF , 1709px 1819px #FFF , 1613px 37px #FFF , 457px 1584px #FFF , 1795px 287px #FFF , 846px 1693px #FFF , 1954px 993px #FFF , 369px 498px #FFF , 1644px 387px #FFF , 1974px 1019px #FFF , 968px 97px #FFF , 1966px 376px #FFF , 563px 361px #FFF , 1510px 1093px #FFF , 1095px 149px #FFF , 250px 1742px #FFF , 41px 500px #FFF , 587px 1112px #FFF , 1122px 1129px #FFF , 1903px 1546px #FFF , 491px 660px #FFF , 1076px 1937px #FFF , 1781px 1191px #FFF , 302px 277px #FFF , 1661px 599px #FFF , 1817px 17px #FFF , 224px 1731px #FFF , 120px 1609px #FFF , 1033px 259px #FFF , 818px 301px #FFF , 274px 1476px #FFF , 293px 516px #FFF , 1607px 1096px #FFF , 1316px 771px #FFF , 332px 1537px #FFF , 1129px 1033px #FFF , 1367px 1250px #FFF , 148px 604px #FFF , 1713px 986px #FFF , 1740px 1953px #FFF , 724px 1320px #FFF , 1376px 833px #FFF , 234px 525px #FFF , 328px 1450px #FFF , 801px 905px #FFF , 933px 1095px #FFF , 681px 782px #FFF , 551px 1687px #FFF , 1693px 1733px #FFF , 1715px 1577px #FFF , 336px 570px #FFF , 1200px 768px #FFF , 487px 1031px #FFF , 922px 1083px #FFF , 1538px 583px #FFF , 1668px 27px #FFF , 780px 1506px #FFF , 1700px 1837px #FFF , 1035px 1403px #FFF , 326px 1661px #FFF , 707px 728px #FFF , 393px 810px #FFF , 550px 1135px #FFF , 868px 1637px #FFF , 220px 1442px #FFF , 1471px 1190px #FFF , 338px 929px #FFF , 765px 1657px #FFF , 347px 1210px #FFF , 183px 264px #FFF , 1848px 319px #FFF , 612px 297px #FFF , 1878px 1266px #FFF , 1281px 357px #FFF , 578px 1277px #FFF , 848px 1798px #FFF , 769px 235px #FFF , 907px 256px #FFF , 689px 1404px #FFF , 1420px 1876px #FFF , 1117px 1404px #FFF , 1135px 796px #FFF , 705px 1905px #FFF , 1280px 1791px #FFF , 719px 124px #FFF , 394px 1712px #FFF , 894px 1221px #FFF , 1434px 1512px #FFF , 24px 859px #FFF , 894px 1256px #FFF , 1647px 373px #FFF , 165px 746px #FFF , 1032px 140px #FFF , 1085px 833px #FFF , 1414px 61px #FFF , 1212px 1803px #FFF , 294px 1454px #FFF , 256px 752px #FFF , 701px 1560px #FFF , 972px 842px #FFF , 1734px 1302px #FFF , 1507px 296px #FFF , 1405px 1612px #FFF , 1560px 1225px #FFF , 1901px 170px #FFF , 913px 148px #FFF , 479px 728px #FFF , 1440px 1733px #FFF , 1658px 698px #FFF , 1573px 1300px #FFF , 14px 121px #FFF , 400px 7px #FFF , 1450px 388px #FFF , 1826px 527px #FFF , 1363px 319px #FFF , 154px 1782px #FFF , 1931px 1581px #FFF , 681px 1387px #FFF , 231px 1272px #FFF , 282px 727px #FFF , 481px 806px #FFF , 87px 1778px #FFF , 1298px 1571px #FFF , 1193px 3px #FFF , 1469px 1686px #FFF , 703px 618px #FFF , 1991px 1682px #FFF , 662px 1434px #FFF , 1553px 1617px #FFF , 1651px 1464px #FFF , 1801px 50px #FFF , 1248px 1986px #FFF , 329px 363px #FFF , 954px 1531px #FFF , 283px 441px #FFF , 378px 1021px #FFF , 1705px 1177px #FFF , 133px 1323px #FFF , 1276px 69px #FFF , 970px 1067px #FFF , 246px 1573px #FFF , 487px 425px #FFF , 715px 599px #FFF , 394px 845px #FFF , 1219px 701px #FFF , 1387px 933px #FFF , 1162px 845px #FFF , 956px 1050px #FFF , 1581px 1365px #FFF , 845px 1639px #FFF , 108px 1315px #FFF , 1926px 1524px #FFF , 38px 217px #FFF , 381px 621px #FFF , 453px 120px #FFF , 1156px 327px #FFF , 1677px 1221px #FFF , 1193px 1088px #FFF , 795px 1112px #FFF , 1374px 73px #FFF , 1074px 1989px #FFF , 1523px 375px #FFF , 1751px 1499px #FFF , 1630px 1336px #FFF , 1285px 346px #FFF , 1194px 325px #FFF , 1847px 330px #FFF , 792px 1498px #FFF , 466px 750px #FFF , 1081px 589px #FFF , 1059px 1006px #FFF , 1998px 1211px #FFF;
    animation: animStar 50s linear infinite;
  }
  #stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1007px 222px #FFF , 1637px 285px #FFF , 1666px 354px #FFF , 722px 293px #FFF , 300px 549px #FFF , 362px 478px #FFF , 406px 911px #FFF , 285px 1013px #FFF , 360px 1507px #FFF , 1091px 343px #FFF , 1321px 331px #FFF , 758px 1832px #FFF , 532px 779px #FFF , 733px 1520px #FFF , 64px 316px #FFF , 978px 298px #FFF , 1034px 70px #FFF , 1046px 1093px #FFF , 189px 1379px #FFF , 1157px 1961px #FFF , 1004px 237px #FFF , 553px 1678px #FFF , 469px 375px #FFF , 981px 896px #FFF , 526px 1365px #FFF , 1765px 783px #FFF , 752px 1082px #FFF , 1841px 1766px #FFF , 1424px 1365px #FFF , 704px 1393px #FFF , 11px 438px #FFF , 151px 241px #FFF , 1062px 387px #FFF , 1213px 1459px #FFF , 1930px 1696px #FFF , 261px 1309px #FFF , 1687px 1921px #FFF , 790px 1883px #FFF , 1432px 1018px #FFF , 1563px 1483px #FFF , 866px 1929px #FFF , 765px 1848px #FFF , 457px 1006px #FFF , 1721px 255px #FFF , 732px 1632px #FFF , 149px 934px #FFF , 1969px 1795px #FFF , 680px 1021px #FFF , 829px 875px #FFF , 91px 1902px #FFF , 1166px 1587px #FFF , 1787px 1307px #FFF , 859px 1124px #FFF , 463px 1533px #FFF , 649px 443px #FFF , 1586px 24px #FFF , 1695px 1447px #FFF , 176px 36px #FFF , 1829px 870px #FFF , 1411px 1085px #FFF , 1305px 21px #FFF , 1231px 1667px #FFF , 561px 709px #FFF , 1196px 1422px #FFF , 454px 90px #FFF , 606px 888px #FFF , 140px 586px #FFF , 907px 549px #FFF , 275px 517px #FFF , 1302px 244px #FFF , 1813px 569px #FFF , 658px 1917px #FFF , 1353px 1047px #FFF , 1589px 1470px #FFF , 1025px 542px #FFF , 1112px 1247px #FFF , 800px 1051px #FFF , 229px 595px #FFF , 1381px 150px #FFF , 1460px 1167px #FFF , 1709px 213px #FFF , 653px 879px #FFF , 709px 1348px #FFF , 360px 1240px #FFF , 1255px 1860px #FFF , 703px 378px #FFF , 1829px 1727px #FFF , 428px 1659px #FFF , 1747px 1296px #FFF , 1149px 242px #FFF , 1102px 554px #FFF , 411px 1980px #FFF , 77px 41px #FFF , 1911px 1050px #FFF , 1901px 1638px #FFF , 200px 260px #FFF , 1228px 1112px #FFF , 927px 311px #FFF , 1132px 1062px #FFF , 393px 1441px #FFF , 627px 1794px #FFF , 107px 1999px #FFF , 196px 1067px #FFF , 1237px 1900px #FFF , 1258px 317px #FFF , 1987px 1509px #FFF , 734px 1681px #FFF , 1562px 30px #FFF , 409px 719px #FFF , 934px 1px #FFF , 514px 497px #FFF , 1654px 1932px #FFF , 371px 451px #FFF , 1290px 1184px #FFF , 403px 1547px #FFF , 1696px 134px #FFF , 1851px 1797px #FFF , 783px 293px #FFF , 937px 47px #FFF , 1664px 124px #FFF , 1910px 313px #FFF , 22px 1511px #FFF , 531px 840px #FFF , 1289px 331px #FFF , 1579px 141px #FFF , 143px 1460px #FFF , 1438px 379px #FFF , 648px 409px #FFF , 1960px 1404px #FFF , 128px 756px #FFF , 1106px 665px #FFF , 324px 1096px #FFF , 1143px 777px #FFF , 30px 946px #FFF , 266px 387px #FFF , 108px 5px #FFF , 335px 1853px #FFF , 799px 444px #FFF , 1988px 159px #FFF , 565px 633px #FFF , 644px 1810px #FFF , 599px 1543px #FFF , 982px 989px #FFF , 969px 90px #FFF , 653px 1137px #FFF , 1509px 185px #FFF , 10px 690px #FFF , 869px 1676px #FFF , 906px 1416px #FFF , 370px 353px #FFF , 888px 1471px #FFF , 400px 1531px #FFF , 1366px 414px #FFF , 1471px 93px #FFF , 1511px 654px #FFF , 1234px 1526px #FFF , 1657px 516px #FFF , 818px 603px #FFF , 902px 1183px #FFF , 389px 557px #FFF , 1107px 536px #FFF , 1387px 845px #FFF , 1845px 394px #FFF , 381px 527px #FFF , 743px 994px #FFF , 966px 94px #FFF , 540px 178px #FFF , 399px 364px #FFF , 1594px 573px #FFF , 1894px 1565px #FFF , 741px 1536px #FFF , 1722px 1159px #FFF , 87px 1861px #FFF , 1844px 1742px #FFF , 1663px 1343px #FFF , 921px 1902px #FFF , 210px 607px #FFF , 1706px 1734px #FFF , 1463px 268px #FFF , 188px 1305px #FFF , 1925px 1683px #FFF , 888px 1829px #FFF , 615px 1663px #FFF , 1597px 917px #FFF , 1060px 815px #FFF , 1586px 1693px #FFF , 223px 120px #FFF , 455px 234px #FFF , 1177px 819px #FFF , 341px 998px #FFF , 377px 920px #FFF , 266px 883px #FFF , 1575px 1294px #FFF , 663px 20px #FFF , 1421px 1433px #FFF , 1238px 1411px #FFF , 593px 273px #FFF , 350px 777px #FFF , 208px 30px #FFF , 362px 1486px #FFF , 1307px 1719px #FFF , 1941px 301px #FFF , 154px 923px #FFF , 888px 309px #FFF , 1558px 356px #FFF , 400px 1046px #FFF , 137px 1718px #FFF , 527px 1663px #FFF , 522px 1384px #FFF , 1500px 385px #FFF , 1552px 1667px #FFF , 1271px 1172px #FFF , 1422px 321px #FFF , 882px 177px #FFF , 1979px 632px #FFF , 880px 232px #FFF , 790px 822px #FFF , 129px 452px #FFF , 627px 1958px #FFF , 1685px 196px #FFF , 797px 1540px #FFF , 1991px 423px #FFF , 576px 276px #FFF , 1017px 176px #FFF , 657px 1770px #FFF , 69px 538px #FFF , 1413px 258px #FFF , 1095px 1364px #FFF , 1926px 1449px #FFF , 1126px 310px #FFF , 1985px 365px #FFF , 28px 1392px #FFF , 1714px 616px #FFF , 558px 1594px #FFF , 1394px 1489px #FFF , 20px 83px #FFF , 590px 1876px #FFF , 1295px 405px #FFF , 194px 1628px #FFF , 688px 852px #FFF , 1419px 1563px #FFF , 1805px 569px #FFF , 56px 1196px #FFF , 199px 1122px #FFF , 1414px 1006px #FFF , 1453px 966px #FFF , 199px 1958px #FFF , 1801px 1755px #FFF , 1931px 486px #FFF , 474px 1505px #FFF , 1413px 845px #FFF , 1381px 474px #FFF , 1947px 418px #FFF , 886px 1789px #FFF , 1745px 978px #FFF , 385px 1344px #FFF , 1897px 183px #FFF , 491px 1656px #FFF , 1448px 935px #FFF , 237px 940px #FFF , 1415px 350px #FFF , 1255px 1387px #FFF , 368px 194px #FFF , 1122px 1215px #FFF , 1662px 128px #FFF , 1873px 1373px #FFF , 1914px 948px #FFF , 1048px 723px #FFF , 1526px 713px #FFF , 298px 804px #FFF , 1324px 1318px #FFF , 769px 1057px #FFF , 897px 1414px #FFF , 1870px 149px #FFF , 68px 209px #FFF , 860px 1745px #FFF , 1656px 1945px #FFF , 780px 1060px #FFF , 81px 692px #FFF , 1344px 1650px #FFF , 854px 1689px #FFF , 1477px 1364px #FFF , 1304px 1896px #FFF , 725px 252px #FFF , 141px 492px #FFF , 1053px 809px #FFF , 164px 1325px #FFF , 1509px 811px #FFF , 1893px 126px #FFF , 1149px 1972px #FFF , 1754px 1261px #FFF , 449px 951px #FFF , 786px 359px #FFF , 720px 342px #FFF , 356px 799px #FFF , 707px 935px #FFF , 403px 551px #FFF , 992px 432px #FFF , 156px 873px #FFF , 1911px 884px #FFF , 1691px 280px #FFF , 1557px 841px #FFF , 28px 770px #FFF , 393px 1828px #FFF , 674px 779px #FFF , 1820px 817px #FFF , 792px 36px #FFF , 1207px 1906px #FFF , 97px 837px #FFF , 564px 1955px #FFF , 1636px 1740px #FFF , 195px 325px #FFF , 1050px 374px #FFF , 230px 1510px #FFF , 1814px 138px #FFF , 14px 1953px #FFF , 1662px 802px #FFF , 10px 126px #FFF , 503px 766px #FFF , 1379px 950px #FFF , 627px 693px #FFF , 80px 1009px #FFF , 1897px 701px #FFF , 401px 226px #FFF , 99px 904px #FFF , 1681px 289px #FFF , 799px 343px #FFF , 58px 1764px #FFF , 1982px 1045px #FFF , 1695px 338px #FFF , 1109px 154px #FFF , 1973px 1789px #FFF , 1988px 194px #FFF , 586px 46px #FFF , 991px 366px #FFF , 1152px 799px #FFF , 1439px 1958px #FFF , 658px 256px #FFF , 950px 1488px #FFF , 1988px 60px #FFF , 1842px 1915px #FFF , 826px 1001px #FFF , 1051px 612px #FFF , 128px 1px #FFF , 1661px 250px #FFF , 1387px 1601px #FFF , 797px 249px #FFF , 432px 872px #FFF , 580px 532px #FFF , 1799px 1644px #FFF , 75px 337px #FFF , 533px 1617px #FFF , 1576px 168px #FFF , 560px 413px #FFF , 273px 747px #FFF , 1012px 69px #FFF , 343px 478px #FFF , 74px 152px #FFF , 208px 1721px #FFF , 674px 353px #FFF , 860px 1225px #FFF , 439px 1098px #FFF , 985px 1878px #FFF , 1945px 1890px #FFF , 1557px 1523px #FFF , 452px 512px #FFF , 1886px 1457px #FFF , 1767px 1946px #FFF , 1515px 1178px #FFF , 629px 257px #FFF , 1778px 1165px #FFF , 100px 1385px #FFF , 288px 1657px #FFF , 1283px 1242px #FFF , 650px 29px #FFF , 404px 1951px #FFF , 437px 1756px #FFF , 1155px 184px #FFF , 1350px 1512px #FFF , 1657px 928px #FFF , 1094px 1612px #FFF , 398px 1912px #FFF , 1728px 1331px #FFF , 200px 1783px #FFF , 1851px 349px #FFF , 263px 850px #FFF , 129px 166px #FFF , 366px 255px #FFF , 83px 305px #FFF , 1307px 1259px #FFF , 1936px 1689px #FFF , 187px 651px #FFF , 1399px 846px #FFF , 1314px 823px #FFF , 1111px 1040px #FFF , 649px 25px #FFF , 1705px 569px #FFF , 392px 600px #FFF , 1376px 795px #FFF , 1701px 388px #FFF , 348px 1609px #FFF , 1465px 358px #FFF , 1689px 1637px #FFF , 1685px 1256px #FFF , 898px 1498px #FFF , 1293px 106px #FFF , 1674px 1759px #FFF , 96px 1583px #FFF , 58px 744px #FFF , 1304px 1590px #FFF , 219px 1134px #FFF , 904px 1935px #FFF , 687px 834px #FFF , 1381px 1727px #FFF , 644px 477px #FFF , 1657px 1337px #FFF , 1352px 1960px #FFF , 82px 1055px #FFF , 1918px 1339px #FFF , 580px 625px #FFF , 653px 351px #FFF , 1127px 1680px #FFF , 1645px 1803px #FFF , 1355px 1407px #FFF , 1173px 1411px #FFF , 1577px 1053px #FFF , 1894px 1833px #FFF , 997px 1674px #FFF , 1534px 546px #FFF , 668px 1957px #FFF , 325px 1621px #FFF , 1620px 330px #FFF , 1329px 928px #FFF , 830px 1436px #FFF , 93px 374px #FFF , 428px 1097px #FFF , 630px 1059px #FFF , 1752px 164px #FFF , 970px 933px #FFF , 1179px 1987px #FFF , 456px 430px #FFF , 379px 1123px #FFF , 73px 409px #FFF , 1542px 197px #FFF , 1371px 1605px #FFF , 84px 777px #FFF , 541px 1073px #FFF , 1964px 1643px #FFF , 378px 1605px #FFF , 1500px 1036px #FFF , 75px 837px #FFF , 1332px 586px #FFF , 1504px 1047px #FFF , 1366px 1410px #FFF , 462px 1923px #FFF , 1183px 1334px #FFF , 785px 1621px #FFF , 469px 1852px #FFF , 1811px 1972px #FFF , 305px 181px #FFF , 1295px 583px #FFF , 1468px 1874px #FFF , 858px 363px #FFF , 881px 1538px #FFF , 1718px 1090px #FFF , 1318px 1046px #FFF , 1589px 1211px #FFF , 581px 1508px #FFF , 292px 283px #FFF , 591px 1150px #FFF , 1298px 949px #FFF , 157px 1348px #FFF , 875px 531px #FFF , 1806px 787px #FFF , 1467px 360px #FFF , 283px 90px #FFF , 441px 2000px #FFF , 1629px 1328px #FFF , 1398px 852px #FFF , 1495px 590px #FFF , 1417px 688px #FFF , 235px 1052px #FFF , 989px 607px #FFF , 1980px 277px #FFF , 1679px 1301px #FFF , 796px 207px #FFF , 1965px 1531px #FFF , 1086px 809px #FFF , 1364px 534px #FFF , 411px 1832px #FFF , 1270px 887px #FFF , 1582px 425px #FFF , 411px 1980px #FFF , 1866px 436px #FFF , 217px 1504px #FFF , 88px 428px #FFF , 1398px 572px #FFF , 906px 1540px #FFF , 119px 1367px #FFF , 1236px 88px #FFF , 1860px 1933px #FFF , 629px 479px #FFF , 1449px 1748px #FFF , 880px 1315px #FFF , 880px 1131px #FFF , 1995px 274px #FFF , 1836px 1009px #FFF , 1983px 1294px #FFF , 1828px 1919px #FFF , 1617px 1313px #FFF , 1613px 822px #FFF , 1661px 924px #FFF , 1581px 1001px #FFF , 1867px 1866px #FFF , 373px 1702px #FFF , 1614px 49px #FFF , 297px 1470px #FFF , 1082px 1821px #FFF , 1169px 1581px #FFF , 1380px 1890px #FFF , 1074px 1011px #FFF , 673px 145px #FFF , 1412px 1006px #FFF , 1535px 1544px #FFF , 1014px 1099px #FFF , 141px 186px #FFF , 1052px 77px #FFF , 266px 1113px #FFF , 217px 1066px #FFF , 1709px 1819px #FFF , 1613px 37px #FFF , 457px 1584px #FFF , 1795px 287px #FFF , 846px 1693px #FFF , 1954px 993px #FFF , 369px 498px #FFF , 1644px 387px #FFF , 1974px 1019px #FFF , 968px 97px #FFF , 1966px 376px #FFF , 563px 361px #FFF , 1510px 1093px #FFF , 1095px 149px #FFF , 250px 1742px #FFF , 41px 500px #FFF , 587px 1112px #FFF , 1122px 1129px #FFF , 1903px 1546px #FFF , 491px 660px #FFF , 1076px 1937px #FFF , 1781px 1191px #FFF , 302px 277px #FFF , 1661px 599px #FFF , 1817px 17px #FFF , 224px 1731px #FFF , 120px 1609px #FFF , 1033px 259px #FFF , 818px 301px #FFF , 274px 1476px #FFF , 293px 516px #FFF , 1607px 1096px #FFF , 1316px 771px #FFF , 332px 1537px #FFF , 1129px 1033px #FFF , 1367px 1250px #FFF , 148px 604px #FFF , 1713px 986px #FFF , 1740px 1953px #FFF , 724px 1320px #FFF , 1376px 833px #FFF , 234px 525px #FFF , 328px 1450px #FFF , 801px 905px #FFF , 933px 1095px #FFF , 681px 782px #FFF , 551px 1687px #FFF , 1693px 1733px #FFF , 1715px 1577px #FFF , 336px 570px #FFF , 1200px 768px #FFF , 487px 1031px #FFF , 922px 1083px #FFF , 1538px 583px #FFF , 1668px 27px #FFF , 780px 1506px #FFF , 1700px 1837px #FFF , 1035px 1403px #FFF , 326px 1661px #FFF , 707px 728px #FFF , 393px 810px #FFF , 550px 1135px #FFF , 868px 1637px #FFF , 220px 1442px #FFF , 1471px 1190px #FFF , 338px 929px #FFF , 765px 1657px #FFF , 347px 1210px #FFF , 183px 264px #FFF , 1848px 319px #FFF , 612px 297px #FFF , 1878px 1266px #FFF , 1281px 357px #FFF , 578px 1277px #FFF , 848px 1798px #FFF , 769px 235px #FFF , 907px 256px #FFF , 689px 1404px #FFF , 1420px 1876px #FFF , 1117px 1404px #FFF , 1135px 796px #FFF , 705px 1905px #FFF , 1280px 1791px #FFF , 719px 124px #FFF , 394px 1712px #FFF , 894px 1221px #FFF , 1434px 1512px #FFF , 24px 859px #FFF , 894px 1256px #FFF , 1647px 373px #FFF , 165px 746px #FFF , 1032px 140px #FFF , 1085px 833px #FFF , 1414px 61px #FFF , 1212px 1803px #FFF , 294px 1454px #FFF , 256px 752px #FFF , 701px 1560px #FFF , 972px 842px #FFF , 1734px 1302px #FFF , 1507px 296px #FFF , 1405px 1612px #FFF , 1560px 1225px #FFF , 1901px 170px #FFF , 913px 148px #FFF , 479px 728px #FFF , 1440px 1733px #FFF , 1658px 698px #FFF , 1573px 1300px #FFF , 14px 121px #FFF , 400px 7px #FFF , 1450px 388px #FFF , 1826px 527px #FFF , 1363px 319px #FFF , 154px 1782px #FFF , 1931px 1581px #FFF , 681px 1387px #FFF , 231px 1272px #FFF , 282px 727px #FFF , 481px 806px #FFF , 87px 1778px #FFF , 1298px 1571px #FFF , 1193px 3px #FFF , 1469px 1686px #FFF , 703px 618px #FFF , 1991px 1682px #FFF , 662px 1434px #FFF , 1553px 1617px #FFF , 1651px 1464px #FFF , 1801px 50px #FFF , 1248px 1986px #FFF , 329px 363px #FFF , 954px 1531px #FFF , 283px 441px #FFF , 378px 1021px #FFF , 1705px 1177px #FFF , 133px 1323px #FFF , 1276px 69px #FFF , 970px 1067px #FFF , 246px 1573px #FFF , 487px 425px #FFF , 715px 599px #FFF , 394px 845px #FFF , 1219px 701px #FFF , 1387px 933px #FFF , 1162px 845px #FFF , 956px 1050px #FFF , 1581px 1365px #FFF , 845px 1639px #FFF , 108px 1315px #FFF , 1926px 1524px #FFF , 38px 217px #FFF , 381px 621px #FFF , 453px 120px #FFF , 1156px 327px #FFF , 1677px 1221px #FFF , 1193px 1088px #FFF , 795px 1112px #FFF , 1374px 73px #FFF , 1074px 1989px #FFF , 1523px 375px #FFF , 1751px 1499px #FFF , 1630px 1336px #FFF , 1285px 346px #FFF , 1194px 325px #FFF , 1847px 330px #FFF , 792px 1498px #FFF , 466px 750px #FFF , 1081px 589px #FFF , 1059px 1006px #FFF , 1998px 1211px #FFF;
  }
  
  #stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1114px 1852px #FFF , 729px 1110px #FFF , 1867px 1138px #FFF , 255px 1626px #FFF , 789px 1369px #FFF , 281px 657px #FFF , 987px 1898px #FFF , 1502px 166px #FFF , 1936px 530px #FFF , 139px 1408px #FFF , 335px 1333px #FFF , 801px 1624px #FFF , 391px 793px #FFF , 1054px 1949px #FFF , 1431px 559px #FFF , 266px 1488px #FFF , 425px 1706px #FFF , 1332px 1058px #FFF , 1139px 1284px #FFF , 1070px 198px #FFF , 1282px 476px #FFF , 1204px 1196px #FFF , 507px 1336px #FFF , 649px 1834px #FFF , 1144px 1995px #FFF , 515px 341px #FFF , 351px 1489px #FFF , 1288px 285px #FFF , 73px 1989px #FFF , 587px 1034px #FFF , 542px 457px #FFF , 1646px 1910px #FFF , 1335px 192px #FFF , 1025px 269px #FFF , 1474px 853px #FFF , 44px 508px #FFF , 571px 476px #FFF , 1019px 26px #FFF , 153px 1741px #FFF , 1283px 365px #FFF , 1740px 489px #FFF , 1584px 926px #FFF , 1007px 1255px #FFF , 496px 1818px #FFF , 246px 233px #FFF , 772px 1681px #FFF , 1643px 186px #FFF , 1489px 1322px #FFF , 488px 1134px #FFF , 623px 526px #FFF , 32px 1925px #FFF , 551px 1577px #FFF , 1174px 907px #FFF , 1507px 613px #FFF , 315px 1025px #FFF , 743px 761px #FFF , 1915px 1511px #FFF , 16px 1459px #FFF , 1420px 636px #FFF , 1442px 44px #FFF , 286px 242px #FFF , 1707px 940px #FFF , 162px 1401px #FFF , 963px 1687px #FFF , 1272px 1024px #FFF , 108px 657px #FFF , 695px 535px #FFF , 607px 149px #FFF , 1513px 1004px #FFF , 497px 1000px #FFF , 740px 836px #FFF , 1363px 124px #FFF , 1067px 1650px #FFF , 1524px 307px #FFF , 1071px 679px #FFF , 846px 36px #FFF , 165px 311px #FFF , 580px 471px #FFF , 106px 1325px #FFF , 20px 1483px #FFF , 1258px 1929px #FFF , 763px 1817px #FFF , 1565px 950px #FFF , 1513px 1129px #FFF , 1587px 880px #FFF , 934px 67px #FFF , 1284px 726px #FFF , 1210px 1190px #FFF , 822px 1107px #FFF , 583px 1695px #FFF , 1538px 213px #FFF , 1162px 646px #FFF , 1746px 1133px #FFF , 988px 74px #FFF , 1691px 299px #FFF , 981px 1747px #FFF , 1761px 1272px #FFF , 1299px 973px #FFF , 838px 953px #FFF , 1933px 1808px #FFF , 1432px 626px #FFF , 638px 478px #FFF , 991px 1863px #FFF , 206px 841px #FFF , 606px 1573px #FFF , 714px 700px #FFF , 1154px 316px #FFF , 1909px 40px #FFF , 845px 1339px #FFF , 859px 905px #FFF , 1421px 962px #FFF , 1460px 1902px #FFF , 1610px 975px #FFF , 262px 1934px #FFF , 1477px 1016px #FFF , 898px 1001px #FFF , 1293px 965px #FFF , 1302px 1713px #FFF , 119px 1699px #FFF , 608px 3px #FFF , 576px 1048px #FFF , 1392px 86px #FFF , 1847px 1887px #FFF , 1696px 420px #FFF , 410px 1372px #FFF , 267px 971px #FFF , 852px 387px #FFF , 781px 591px #FFF , 1710px 274px #FFF , 86px 73px #FFF , 813px 970px #FFF , 1189px 1112px #FFF , 1017px 225px #FFF , 1581px 210px #FFF , 1300px 1741px #FFF , 855px 1901px #FFF , 36px 1951px #FFF , 1197px 1608px #FFF , 1079px 1845px #FFF , 626px 166px #FFF , 1375px 1993px #FFF , 1482px 940px #FFF , 1189px 833px #FFF , 1123px 1716px #FFF , 1303px 1815px #FFF , 1706px 1651px #FFF , 481px 1526px #FFF , 318px 137px #FFF , 591px 215px #FFF , 904px 446px #FFF , 1918px 541px #FFF , 360px 957px #FFF , 29px 1875px #FFF , 938px 1495px #FFF , 1803px 41px #FFF , 1877px 934px #FFF , 1306px 848px #FFF , 1321px 1512px #FFF , 1887px 577px #FFF , 840px 1297px #FFF , 655px 1004px #FFF , 931px 1583px #FFF , 1283px 352px #FFF , 798px 1645px #FFF , 1913px 1868px #FFF , 1173px 876px #FFF , 1404px 464px #FFF , 578px 1569px #FFF , 1555px 401px #FFF , 707px 1007px #FFF , 752px 1553px #FFF , 1823px 621px #FFF , 1933px 13px #FFF , 490px 1560px #FFF , 891px 512px #FFF , 479px 135px #FFF , 1254px 971px #FFF , 1545px 1466px #FFF , 1597px 980px #FFF , 1282px 967px #FFF , 1183px 1114px #FFF , 1644px 1220px #FFF , 1598px 603px #FFF , 1593px 574px #FFF , 456px 1653px #FFF , 1508px 1698px #FFF , 1656px 1667px #FFF , 1047px 293px #FFF , 1176px 437px #FFF , 343px 1319px #FFF , 476px 246px #FFF , 1983px 1965px #FFF , 1843px 1142px #FFF , 735px 1108px #FFF , 349px 937px #FFF , 298px 181px #FFF , 1695px 711px #FFF , 1860px 673px #FFF , 1358px 1892px #FFF , 304px 1339px #FFF;
    animation: animStar 100s linear infinite;
  }
  #stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1114px 1852px #FFF , 729px 1110px #FFF , 1867px 1138px #FFF , 255px 1626px #FFF , 789px 1369px #FFF , 281px 657px #FFF , 987px 1898px #FFF , 1502px 166px #FFF , 1936px 530px #FFF , 139px 1408px #FFF , 335px 1333px #FFF , 801px 1624px #FFF , 391px 793px #FFF , 1054px 1949px #FFF , 1431px 559px #FFF , 266px 1488px #FFF , 425px 1706px #FFF , 1332px 1058px #FFF , 1139px 1284px #FFF , 1070px 198px #FFF , 1282px 476px #FFF , 1204px 1196px #FFF , 507px 1336px #FFF , 649px 1834px #FFF , 1144px 1995px #FFF , 515px 341px #FFF , 351px 1489px #FFF , 1288px 285px #FFF , 73px 1989px #FFF , 587px 1034px #FFF , 542px 457px #FFF , 1646px 1910px #FFF , 1335px 192px #FFF , 1025px 269px #FFF , 1474px 853px #FFF , 44px 508px #FFF , 571px 476px #FFF , 1019px 26px #FFF , 153px 1741px #FFF , 1283px 365px #FFF , 1740px 489px #FFF , 1584px 926px #FFF , 1007px 1255px #FFF , 496px 1818px #FFF , 246px 233px #FFF , 772px 1681px #FFF , 1643px 186px #FFF , 1489px 1322px #FFF , 488px 1134px #FFF , 623px 526px #FFF , 32px 1925px #FFF , 551px 1577px #FFF , 1174px 907px #FFF , 1507px 613px #FFF , 315px 1025px #FFF , 743px 761px #FFF , 1915px 1511px #FFF , 16px 1459px #FFF , 1420px 636px #FFF , 1442px 44px #FFF , 286px 242px #FFF , 1707px 940px #FFF , 162px 1401px #FFF , 963px 1687px #FFF , 1272px 1024px #FFF , 108px 657px #FFF , 695px 535px #FFF , 607px 149px #FFF , 1513px 1004px #FFF , 497px 1000px #FFF , 740px 836px #FFF , 1363px 124px #FFF , 1067px 1650px #FFF , 1524px 307px #FFF , 1071px 679px #FFF , 846px 36px #FFF , 165px 311px #FFF , 580px 471px #FFF , 106px 1325px #FFF , 20px 1483px #FFF , 1258px 1929px #FFF , 763px 1817px #FFF , 1565px 950px #FFF , 1513px 1129px #FFF , 1587px 880px #FFF , 934px 67px #FFF , 1284px 726px #FFF , 1210px 1190px #FFF , 822px 1107px #FFF , 583px 1695px #FFF , 1538px 213px #FFF , 1162px 646px #FFF , 1746px 1133px #FFF , 988px 74px #FFF , 1691px 299px #FFF , 981px 1747px #FFF , 1761px 1272px #FFF , 1299px 973px #FFF , 838px 953px #FFF , 1933px 1808px #FFF , 1432px 626px #FFF , 638px 478px #FFF , 991px 1863px #FFF , 206px 841px #FFF , 606px 1573px #FFF , 714px 700px #FFF , 1154px 316px #FFF , 1909px 40px #FFF , 845px 1339px #FFF , 859px 905px #FFF , 1421px 962px #FFF , 1460px 1902px #FFF , 1610px 975px #FFF , 262px 1934px #FFF , 1477px 1016px #FFF , 898px 1001px #FFF , 1293px 965px #FFF , 1302px 1713px #FFF , 119px 1699px #FFF , 608px 3px #FFF , 576px 1048px #FFF , 1392px 86px #FFF , 1847px 1887px #FFF , 1696px 420px #FFF , 410px 1372px #FFF , 267px 971px #FFF , 852px 387px #FFF , 781px 591px #FFF , 1710px 274px #FFF , 86px 73px #FFF , 813px 970px #FFF , 1189px 1112px #FFF , 1017px 225px #FFF , 1581px 210px #FFF , 1300px 1741px #FFF , 855px 1901px #FFF , 36px 1951px #FFF , 1197px 1608px #FFF , 1079px 1845px #FFF , 626px 166px #FFF , 1375px 1993px #FFF , 1482px 940px #FFF , 1189px 833px #FFF , 1123px 1716px #FFF , 1303px 1815px #FFF , 1706px 1651px #FFF , 481px 1526px #FFF , 318px 137px #FFF , 591px 215px #FFF , 904px 446px #FFF , 1918px 541px #FFF , 360px 957px #FFF , 29px 1875px #FFF , 938px 1495px #FFF , 1803px 41px #FFF , 1877px 934px #FFF , 1306px 848px #FFF , 1321px 1512px #FFF , 1887px 577px #FFF , 840px 1297px #FFF , 655px 1004px #FFF , 931px 1583px #FFF , 1283px 352px #FFF , 798px 1645px #FFF , 1913px 1868px #FFF , 1173px 876px #FFF , 1404px 464px #FFF , 578px 1569px #FFF , 1555px 401px #FFF , 707px 1007px #FFF , 752px 1553px #FFF , 1823px 621px #FFF , 1933px 13px #FFF , 490px 1560px #FFF , 891px 512px #FFF , 479px 135px #FFF , 1254px 971px #FFF , 1545px 1466px #FFF , 1597px 980px #FFF , 1282px 967px #FFF , 1183px 1114px #FFF , 1644px 1220px #FFF , 1598px 603px #FFF , 1593px 574px #FFF , 456px 1653px #FFF , 1508px 1698px #FFF , 1656px 1667px #FFF , 1047px 293px #FFF , 1176px 437px #FFF , 343px 1319px #FFF , 476px 246px #FFF , 1983px 1965px #FFF , 1843px 1142px #FFF , 735px 1108px #FFF , 349px 937px #FFF , 298px 181px #FFF , 1695px 711px #FFF , 1860px 673px #FFF , 1358px 1892px #FFF , 304px 1339px #FFF;
  }
  
  #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1163px 1128px #FFF , 1891px 987px #FFF , 801px 1702px #FFF , 190px 1661px #FFF , 810px 711px #FFF , 519px 1966px #FFF , 664px 764px #FFF , 1915px 81px #FFF , 1637px 1566px #FFF , 1416px 174px #FFF , 510px 1345px #FFF , 1655px 4px #FFF , 1235px 1971px #FFF , 282px 1236px #FFF , 566px 1390px #FFF , 231px 1025px #FFF , 114px 1180px #FFF , 164px 1140px #FFF , 771px 320px #FFF , 205px 7px #FFF , 894px 1340px #FFF , 1450px 831px #FFF , 1581px 992px #FFF , 435px 300px #FFF , 1353px 1007px #FFF , 212px 1614px #FFF , 1972px 1147px #FFF , 1979px 697px #FFF , 180px 304px #FFF , 1689px 1442px #FFF , 355px 846px #FFF , 1279px 1141px #FFF , 1683px 1147px #FFF , 429px 824px #FFF , 141px 1807px #FFF , 1779px 1533px #FFF , 312px 575px #FFF , 718px 1781px #FFF , 1687px 1624px #FFF , 1908px 81px #FFF , 1917px 1230px #FFF , 296px 1692px #FFF , 455px 1625px #FFF , 1250px 408px #FFF , 234px 952px #FFF , 1108px 1849px #FFF , 1715px 1470px #FFF , 1988px 182px #FFF , 788px 195px #FFF , 13px 139px #FFF , 1875px 1057px #FFF , 1485px 420px #FFF , 1843px 1832px #FFF , 797px 1421px #FFF , 949px 41px #FFF , 1863px 239px #FFF , 1313px 149px #FFF , 1420px 1118px #FFF , 147px 1769px #FFF , 538px 1983px #FFF , 32px 761px #FFF , 691px 1079px #FFF , 79px 1700px #FFF , 262px 568px #FFF , 1523px 1917px #FFF , 860px 1974px #FFF , 1021px 1077px #FFF , 290px 1191px #FFF , 1268px 1671px #FFF , 1811px 120px #FFF , 1656px 227px #FFF , 546px 1576px #FFF , 653px 1958px #FFF , 148px 1965px #FFF , 363px 1656px #FFF , 843px 727px #FFF , 1027px 1351px #FFF , 1759px 1809px #FFF , 412px 1159px #FFF , 322px 1614px #FFF , 907px 804px #FFF , 1207px 1412px #FFF , 768px 1299px #FFF , 1059px 776px #FFF , 449px 1889px #FFF , 486px 827px #FFF , 1468px 1370px #FFF , 61px 8px #FFF , 1142px 1073px #FFF , 1098px 55px #FFF , 1088px 1866px #FFF , 384px 361px #FFF , 911px 685px #FFF , 922px 544px #FFF , 1747px 87px #FFF , 576px 363px #FFF , 461px 1214px #FFF , 778px 1888px #FFF , 484px 461px #FFF , 1656px 1154px #FFF;
    animation: animStar 150s linear infinite;
  }
  #stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1163px 1128px #FFF , 1891px 987px #FFF , 801px 1702px #FFF , 190px 1661px #FFF , 810px 711px #FFF , 519px 1966px #FFF , 664px 764px #FFF , 1915px 81px #FFF , 1637px 1566px #FFF , 1416px 174px #FFF , 510px 1345px #FFF , 1655px 4px #FFF , 1235px 1971px #FFF , 282px 1236px #FFF , 566px 1390px #FFF , 231px 1025px #FFF , 114px 1180px #FFF , 164px 1140px #FFF , 771px 320px #FFF , 205px 7px #FFF , 894px 1340px #FFF , 1450px 831px #FFF , 1581px 992px #FFF , 435px 300px #FFF , 1353px 1007px #FFF , 212px 1614px #FFF , 1972px 1147px #FFF , 1979px 697px #FFF , 180px 304px #FFF , 1689px 1442px #FFF , 355px 846px #FFF , 1279px 1141px #FFF , 1683px 1147px #FFF , 429px 824px #FFF , 141px 1807px #FFF , 1779px 1533px #FFF , 312px 575px #FFF , 718px 1781px #FFF , 1687px 1624px #FFF , 1908px 81px #FFF , 1917px 1230px #FFF , 296px 1692px #FFF , 455px 1625px #FFF , 1250px 408px #FFF , 234px 952px #FFF , 1108px 1849px #FFF , 1715px 1470px #FFF , 1988px 182px #FFF , 788px 195px #FFF , 13px 139px #FFF , 1875px 1057px #FFF , 1485px 420px #FFF , 1843px 1832px #FFF , 797px 1421px #FFF , 949px 41px #FFF , 1863px 239px #FFF , 1313px 149px #FFF , 1420px 1118px #FFF , 147px 1769px #FFF , 538px 1983px #FFF , 32px 761px #FFF , 691px 1079px #FFF , 79px 1700px #FFF , 262px 568px #FFF , 1523px 1917px #FFF , 860px 1974px #FFF , 1021px 1077px #FFF , 290px 1191px #FFF , 1268px 1671px #FFF , 1811px 120px #FFF , 1656px 227px #FFF , 546px 1576px #FFF , 653px 1958px #FFF , 148px 1965px #FFF , 363px 1656px #FFF , 843px 727px #FFF , 1027px 1351px #FFF , 1759px 1809px #FFF , 412px 1159px #FFF , 322px 1614px #FFF , 907px 804px #FFF , 1207px 1412px #FFF , 768px 1299px #FFF , 1059px 776px #FFF , 449px 1889px #FFF , 486px 827px #FFF , 1468px 1370px #FFF , 61px 8px #FFF , 1142px 1073px #FFF , 1098px 55px #FFF , 1088px 1866px #FFF , 384px 361px #FFF , 911px 685px #FFF , 922px 544px #FFF , 1747px 87px #FFF , 576px 363px #FFF , 461px 1214px #FFF , 778px 1888px #FFF , 484px 461px #FFF , 1656px 1154px #FFF;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  }
